**target/
**.mvn/
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
**.idea/modules.xml
**.idea/jarRepositories.xml
**.idea/compiler.xml
**.idea/libraries/
**.iws
**.iml
**.ipr
**.idea/

### Maven
**mvnw
**mvnw.cmd


### Mac OS ###
**.DS_Store